<launch>
  <arg name="ip" default="192.168.100.160" />
  <arg name="port" default="3001" />

  <node name="novatel_span_driver" pkg="novatel_span_driver" type="driver">
    <param name="ip" value="$(arg ip)" />
    <param name="port" value="$(arg port)" />
    <rosparam ns="configuration">
      log_request:
        inspvaxb: 0.05
        bestposb: 0.05
        corrimudatab: 0.01
        inscovb: 1
# The example setup commands below apply to a Clearpath Robotics Husky running
# SPAN with dual antennas. Run the SPAN setup wizard on your own platform to generate
# an appropriate config.
#      command:
#        connectimu: COM3 IMU_STIM300
#        setimuorientation: 5
#        vehiclebodyrotation: 0.000000 0.000000 0.000000 0.000000 0.000000 0.000000
#        applyvehiclebodyrotation: enable
#        setimutoantoffset: 0.340000 -0.700000 0.600000 0.100000 0.150000 0.100000
#        setimutoantoffset2: -0.420000 -0.700000 0.600000 0.100000 0.150000 0.100000
#        setinsoffset: 0.030800 -0.294200 -0.104100
#        alignmentmode: AUTOMATIC
    </rosparam>

    <!-- Whether or not the driver should publish a TF, and what frames it should
         be between. This configuration publishes odom -> base_link. -->
    <param name="publish_tf" value="true" />
    <param name="odom_frame" value="gps_odom" />
    <param name="base_frame" value="gps_link" />

    <!-- IMU rate; controls scaling of the imu/data topic values. This is a
         function of the underlying hardware IMU rate, which is 100Hz for IMU-CPT. -->
    <param name="rate" value="125" />

    <!-- Disable this if you don't want SPAN to use wheel encoder data. Remap the odom
         topic if your encoders publish elsewhere. -->
    <param name="enable_wheel_velocity" value="false" />

    <!-- Disable this if you'd like the Odometry to be absolute within the UTM zone
         rather than starting from an arbitrary zero origin. -->
    <param name="zero_start" value="true" />
  </node>
</launch>
