[submodule "libbeam"]
	path = libbeam
	url = git@github.com:BEAMRobotics/libbeam.git
[submodule "inspection_tools/cnn_defect_segmentation"]
	path = inspection_tools/cnn_defect_segmentation
	url = git@github.com:BEAMRobotics/cnn_defect_segmentation.git
[submodule "dependencies/velodyne"]
	path = dependencies/velodyne
	url = git@github.com:ros-drivers/velodyne.git
[submodule "mapping/scan_pose_gt_generation"]
	path = mapping/scan_pose_gt_generation
	url = git@github.com:nickcharron/scan_pose_gt_generation.git
[submodule "mapping/3d_map_builder"]
	path = mapping/3d_map_builder
	url = git@github.com:nickcharron/3d_map_builder.git
[submodule "mapping/beam_slam"]
	path = mapping/beam_slam
	url = git@github.com:BEAMRobotics/beam_slam.git
[submodule "mapping/vlma"]
	path = mapping/vlma
	url = git@github.com:jakemclaughlin6/vlma.git
[submodule "inspection_tools/camera_to_map_calibrator"]
	path = inspection_tools/camera_to_map_calibrator
	url = https://github.com/nickcharron/camera_to_map_calibrator.git
