[submodule "libbeam"]
	path = libbeam
	url = git@github.com:BEAMRobotics/libbeam.git
[submodule "inspection_tools/cnn_defect_segmentation"]
	path = inspection_tools/cnn_defect_segmentation
	url = git@github.com:BEAMRobotics/cnn_defect_segmentation.git
[submodule "dependencies/velodyne"]
	path = dependencies/velodyne
	url = git@github.com:BEAMRobotics/velodyne.git
