<launch>
	<param name="/use_sim_time" value="true" type="bool" />
	<group>
		<node pkg="velodyne_h_v_calib" type="velodyne_h_v_calib_2" name="velodyne_h_v_calib" output="screen" />
		<rosparam command="load" file="$(find velodyne_h_v_calib)/data/2018_12_20.yaml" />
		<param name="vvlp_frame_id" value="velodyne_vert"/>
		<param name="hvlp_frame_id" value="velodyne_horz"/>
		<node pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="rqt_ez_publisher" args="--slider-file $(find velodyne_h_v_calib)/config/rqt_ez_pub_config.yaml" />
		<node pkg="rviz" type="rviz" name="rviz" args="-d $(find velodyne_h_v_calib)/config/velodyne_h_v_calib_config.rviz" />
	</group>
</launch>
